---
layout: default
---
<div class="main-content">
    <article class="module color-3">
            <h1>Posts by topic</h1>
            <hr>
            {% for category in site.categorylist %}
            <ul>
                {% assign cat = site.categories[category] %}
                <h4 class = "category-label" id = "{{ category }}">{{ category | capitalize }} ({{ cat | size }}):</h4>
                {% for post in cat %}
                    {% if post.url %}
                        <li class = "category-post"><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
    </article>
</div>